  <%- include('./partials/top.ejs') %>
  
  <p>name: <%= serviceAvailable(temp.name, data.status) %></p>
  <p>avaliable: <%= data.status %></p>
  <p>description: <%= temp.description %></p>
  <p>image: <img src="<%= temp.imageUrl %>" alt=""></p>
  <p>price: <%= temp.formatPrice() %></p>
  <p>finish product minimal: <%= data.timeOfContract %> days</p>
  <p>property thats avaliable: <%= data.requirement %></p>
  <p>another image exmaple: </p>
  <% data.Galleries.forEach(el => { %>
    <img src="<%= el.name %>" alt="<%= el.alternate %>">
  <% }) %>


</body>
</html>